# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.exe
*.dll
*.lib
*.tlog
*.pdb
*.db
*.cache
.vs/v16/
.vs/*.db
.vs/
x64/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
.vs/Client/v16/*.db
